* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #3725B9;
}

/* Custom Scrollbar Styles */
body::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Track */
body::-webkit-scrollbar-track {
    background: #0400ff; /* Color of the track */
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #f6ff00; /* Color of the handle */
    border-radius: 6px; /* Rounded corners for the handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #000000; /* Darker color on hover */
}

/* Ensure scrollbar visibility on mobile */
@media (max-width: 768px) {
    body {
        overflow-y: scroll; /* Force vertical scroll */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
    }

    body::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
    }

    body::-webkit-scrollbar-track {
        background: #0400ff; /* Color of the track */
    }

    body::-webkit-scrollbar-thumb {
        background: #f6ff00; /* Color of the handle */
        border-radius: 6px; /* Rounded corners for the handle */
    }

    body::-webkit-scrollbar-thumb:hover {
        background: #000000; /* Darker color on hover */
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8x;
    background-color: #3725B9;
    color: white;
}

header .logo img {
    width: 150px;
    transition: transform 0.3s ease;
}

header .logo img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #FFD700;
    color: #3725B9;
    border-radius: 5px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

#hero {
    position: relative;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.hero-content h1 {
    font-size: 3.5rem; /* Larger for emphasis */
    margin-bottom: 20px;
    padding: 10px 20px; /* Add padding for breathing space */
    animation: fadeInDown 2s;
    color: rgb(6, 52, 177); /* Blue color */
    font-family: 'Poppins', sans-serif; /* Modern, clean font family */
    font-weight: 600; /* Bold weight for prominence */
    letter-spacing: 0.02em; /* Slightly increased letter spacing for readability */
    line-height: 1.2; /* Improved line height for better readability */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* More pronounced text shadow for visibility */
    background: linear-gradient(90deg, rgba(255,255,0,0.8) 0%, rgba(255,255,0,0.1) 100%); /* Gradient background in yellow for readability */
    border-radius: 10px; /* Rounded corners for a modern look */
    display: inline-block; /* Make the h1 an inline-block for better spacing */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem; /* Smaller font size for mobile */
        padding: 8px 16px; /* Adjust padding for mobile */
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 2rem; /* Even smaller font size for very small screens */
        padding: 6px 12px; /* Adjust padding for very small screens */
    }
}


.hero-buttons .btn-yellow, .hero-buttons .btn-blue {
    padding: 10px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Modern Hero Buttons */
.hero-buttons .btn-yellow, .hero-buttons .btn-blue {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-buttons .btn-yellow {
    background-color: #FFD700;
    color: #3725B9;
}

.hero-buttons .btn-blue {
    background-color: #3725B9;
    color: #FFD700;
}

.hero-buttons .btn-yellow:hover, .hero-buttons .btn-blue:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.hero-buttons .btn-yellow:focus, .hero-buttons .btn-blue:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 215, 0, 0.4);
}

/* News section */
#news {
    background-image: url(bgtwo.jpg);
    background-color: #1a1a1a; /* Fallback color */
    padding: 50px 20px;
    background-size: cover;
    background-attachment: fixed;
    color: #f4f4f4;
}

#news h2 {
    color: #f2ff00;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.news-item {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 30px);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.news-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
}

.news-item:hover img {
    transform: scale(1.1);
}

.news-description {
    padding: 20px;
}

.news-description h3 {
    margin: 0 0 15px;
    font-size: 1.8em;
    color: #333;
    transition: color 0.3s;
}

.news-item:hover .news-description h3 {
    color: #0066cc;
}

.news-description p {
    margin: 0 0 15px;
    color: #555;
    font-size: 1em;
    line-height: 1.6;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.read-more:hover {
    background-color: #005bb5;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .news-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .news-item {
        width: 100%;
    }
}


/* Tabs Section */


/* Smooth Scrollbar */
.tab-content {
    scrollbar-width: thin;
    scrollbar-color: #0072ce #f8f9fa;
}

.tab-content::-webkit-scrollbar {
    height: 8px;
}

.tab-content::-webkit-scrollbar-track {
    background: #f8f9fa;
    border-radius: 8px;
}

.tab-content::-webkit-scrollbar-thumb {
    background-color: #0072ce;
    border-radius: 8px;
    border: 2px solid #f8f9fa;
    transition: background-color 0.3s;
}

.tab-content::-webkit-scrollbar-thumb:hover {
    background-color: #005bb5;
}





/* Players Section */

#players {
    background-color: #ffffff;
    font-family: Verdana, sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #005bb5; /* Blue color */
}

.player-category {
    margin-bottom: 40px;
}

h3 {
    font-size: 1.5em;
    color: #005bb5; /* Blue color */
    border-bottom: 2px solid #f5ff3a; /* Yellow color */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.player-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.player-card {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    background-color: #7c7a7a; /* Blue color */
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s;
    cursor: pointer;
    color: #000000;
}

.player-card img.player-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.player-card .player-info h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
}

.player-card .player-info p {
    font-size: 0.9em;
    color: #000000; /* Yellow color */
    margin-bottom: 0;
}

.player-card img.country-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.player-card:hover {
    transform: scale(1.05);
}

/* Styles for the modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modal-content {
    background-color: #fff; /* White color */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

/* Close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #ff0000;
    text-decoration: none;
}

/* Modal title */
#modalPlayerName {
    margin-top: 0;
    font-size: 24px;
    color: #005bb5; /* Blue color */
}

/* Modal content text */
#modalPlayerDetails {
    color: #333;
    line-height: 1.6;
    margin-top: 10px;
}

/* Close button hover effect */
.close-btn:hover {
    transform: scale(1.1);
}

/* Modal close animation */
.modal-close-animation {
    animation: modalCloseAnimation 0.3s ease forwards;
}

@keyframes modalCloseAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 95%;
        margin: 20% auto;
        padding: 15px;
    }

    .close-btn {
        font-size: 24px;
    }

    #modalPlayerName {
        font-size: 20px;
    }

    #modalPlayerDetails {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .modal-content {
        width: 90%;
        margin: 30% auto;
        padding: 10px;
    }

    .close-btn {
        font-size: 22px;
    }

    #modalPlayerName {
        font-size: 18px;
    }

    #modalPlayerDetails {
        font-size: 14px;
    }
}





/* Contact Section */
#contact {
    background-color: #003366;
    color: white;
    padding: 50px 0;
    text-align: center;
}

#contact h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #FFD700;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.envelope {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #003366;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #FFD700;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: #FFD700;
    color: #003366;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
    font-weight: bold;
}

.contact-form button:hover {
    transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 768px) {
    .envelope {
        width: 100%;
        padding: 15px;
    }

    .contact-form input,
    .contact-form textarea {
        width: calc(100% - 20px);
    }
}


/* Footer */
footer {
    background-color: #fbff00;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.footer-content .quick-links ul,
.footer-content .social-media ul,
.footer-content .contact-info p {
    list-style: none;
    padding: 0;
}

.footer-content .quick-links ul li,
.footer-content .social-media ul li {
    margin: 5px 0;
}

.footer-content .social-media ul {
    display: flex;
    justify-content: center;
}

.footer-content .social-media ul li img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-content .social-media ul li img:hover {
    transform: scale(1.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .burger {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul.nav-active {
        display: flex;
        flex-direction: column;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
